system/system/lib64/libdualcam_portraitlighting_gallery_360.so
system/system/app/OCRDataProvider/OCRDataProvider.apk
system/system/app/HoneyBoard/HoneyBoard.apk
system/system/etc/mediasearch/data/enc_text.tflite
system/system/priv-app/OneDrive_Samsung_v3/OneDrive_Samsung_v3.apk
system/system/priv-app/AREmojiEditor/AREmojiEditor.apk
system/system/priv-app/PhotoRemasterService/PhotoRemasterService.apk
system/system/priv-app/SecSettings/SecSettings.apk
product/app/WebViewGoogle/WebViewGoogle.apk
product/app/YouTube/YouTube.apk
product/app/Gmail2/Gmail2.apk
product/app/Maps/Maps.apk
product/priv-app/Messages/Messages.apk
product/priv-app/Velvet/Velvet.apk
product/priv-app/GmsCore/GmsCore.apk
